@media screen {
  html {
/*    background-color: honeydew; */
/*    background-color: grey; */
    background-image: url("./images/cloud_chamber.png");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    background-size: cover; 
  }
}

header {
  position: relative;
}

body {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 3em;
  background-color: white;
  border: thin solid;
}

main-ul {
  position: relative;
  left: 10px;
  top:10px;
}

html {
/*  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; */
  font-family: 'Helvetica', Geneva, Arial, sans-serif;
}

address{
  white-space: pre;
  font-size:80%;
}

/* Set hyperlink attributes */
a:link {
  color: blue;
}

a:active {
  color: red;
}

a:visited {
  color: purple;
}

/* Set id attributes for objects on the page */
#photo {
  width: 150px;
}

#largephoto {
  width: 450px;
}

#photobox {
  float: right; 
  margin: 2em;
}

#photocaption{
  display: block;
  font-size:80%;
  font-style: italic;
}

#footer {
  clear: both;
  font-size: 75%;
}
